
/* vsechno ostatni */

html,body {
    background-color: #353a36;
    height: 100%;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
}
@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}
.button {
  border: 3px solid #ff7b00; /*ff9100*/
  border-radius: 10px;
  padding: 15px 30px;
  background-color: transparent;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Scrollbar */

.button:hover{
    background-color: #ff7b00;
    color: black;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
}


::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
background: #353a36; 
}

::-webkit-scrollbar-thumb {
background: #ff7b00; 
  height:100px;
  border-radius:5px;
}

::-webkit-scrollbar-thumb:hover {
background: rgb(217, 255, 0); 
}